*.pyc
*.pyo

__pycache__
accounts/__pycache__
owndb/__pycache__
owndb/local_settings.py
pages/__pycache__
store/__pycache__
store/migrations/
store/templatetags/__pycache__
runserver.bat
makemigrations.bat
