{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Rejestracja
{% endblock %}

{% block container %}
    <!-- registration -->
    <div class="registration">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <h2 class="form-signin-heading">Logowanie</h2>
                    <form action="" class="form-signin" method="post" name="passwordSignupForm">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input name="login" type="submit" id="registration" value="Zaloguj" class="btn btn-lg btn-primary btn-block"/>
                    </form>
                </div>
                <div class="col-lg-6">
                    <form class="form-signin" method="POST" action="">
				        <h2 class="form-signin-heading">Rejestracja</h2>
				        	<div class="col-lg-6">
				        		<p><input name="imie" type="text" id="user" class="form-control" placeholder="Imię" required autofocus/></p>
				        	</div>
				        	<div class="col-lg-6">
				        		<input name="nazwisko" type="text" id="password" class="form-control" placeholder="Nazwisko" required/>
				        	</div>
				        <p><input name="email" type="email" id="email" class="form-control" placeholder="Wprowadz adres email" required/></p>
				       	<p><input name="password" type="password" id="text" class="form-control" placeholder="Wporwadz hasło" required/></p>
				       	<p><input name="passwordRetype" type="password" id="text" class="form-control" placeholder="Wporwadz hasło ponownie" required/></p>
				       	<p><input name="radio" type="radio" value="remember-me">Potwierdzam przeczytanie regulaminu</p>
				        <input name="registration" type="submit" id="registration" value="Rejestracja" class="btn btn-lg btn-primary btn-block"/>
				    </form>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.registration -->
{% endblock %}