{% extends "base.html" %}

{% block title %}
    Kategorie
{% endblock %}



{% block main-title %}
    Kategorie
{% endblock %}



{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <ul>
    {% for entry in category_list %}
        <li>
        <a href="{% url 'form-list' entry.pk %}">{{ entry.title }}</a>&nbsp<small>{{ entry.form_set.count }}</small>
        </li>
    {% endfor  %}
    </ul>

    {% if is_paginated %}
        {% if page_obj.has_next %}
            <a href="{% url 'category-list' page_obj.next_page_number %}"><-</a>
        {% endif %}
        {% if page_obj.has_previous %}
            <a href="{% url 'category-list' page_obj.previous_page_number %}">-></a>
        {% endif %}
    {% endif %}

{% endblock %}