/* 
 * Owndb additional css file.
 *
 */

table#fields_wrapper, table#fields_render {
	border-bottom:10px; 
	border-collapse:separate;
}

td.field_cell, td.field_render {
	background-color:#f8f8f8; 
	padding:5px; 
	border-bottom:5px solid #fff; 
	width:600px;
}

#add_field, .remove_field, .add_choice, .add_checkbox, .remove_option {
	cursor:pointer;
}

ul.options_block {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

#loading {
	display:none; 
	opacity:0.8; 
	background-color:#fafafa; 
	position:fixed; 
	width:100%; 
	height:100%; 
	top:0px; 
	left:0px; 
	z-index:2000;
}

p.textlabel {
	font-size:18px; 
	padding-top:10px; 
	color:#789;
}

progress::-webkit-progress-bar {
    background-color: #C2D4FC;
    border: 0;
}

progress::-webkit-progress-value {
    background-color: #1345BA;
}

.modal-launcher, .modal-select {
	cursor:pointer;
}

.modal-background {
	display:none; 
	opacity:0.8; 
	background-color:#fafafa; 
	position:fixed; 
	width:100%; 
	height:100%; 
	top:0px; 
	left:0px; 
	z-index:2000;
}

.modal-content {
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 10px 0 #222;
	-webkit-box-shadow: 0 0 10px 0 #222;
	-moz-box-shadow: 0 0 10px 0 #222;
	display: none;
	position: fixed;
	width: auto;
	height: auto;
	top: 60px;
	left: 50%;
	margin: 0 0 0 -150px;
	width:auto;
	padding: 10px;
	z-index: 2100;
}

.modal-background.active, .modal-content.active {
	display: block;
}

table.instances td {
	border: 2px solid black;
	padding: 5px;
}

table.instances thead {
	background-color:#fafafa;
}

table.modal-choice td {
	padding-right: 5px;
}

.form_image {
	width: 100%;
}