/* 
 * Owndb CSS - form related pages.
 *
 */

body {
	padding-top: 40px;
}

input#form_name {
	width:300px;
}

input.field_name {
	width:280px;
}

table#fields_wrapper, table#fields_render {
	border-bottom:10px; 
	border-collapse:separate;
}

td.field_cell, td.field_render {
	background-color:#fafafa; 
	padding:5px; 
	border-bottom:5px solid #fff; 
	width:600px;
}

#add_field, .remove_field, .add_option, .add_checkbox, .remove_option {
	cursor:pointer;
}

ul.options_block {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

#loading {
	display:none; 
	opacity:0.8; 
	background-color:#fafafa; 
	position:fixed; 
	width:100%; 
	height:100%; 
	top:0px; 
	left:0px; 
	z-index:2000;
}
