
{% extends "base.html" %}

{% block title %}
    Add form
{% endblock %}

{% block main-title %}
   
{% endblock %}

{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
		
			<h3>Design new form</h3>
			<div id="loading"></div>
			<form id="add_form" action="/store/{{ project }}">
				{% csrf_token %}
				<p>
					<input id="form_name" type="text" placeholder=" set form name" autofocus />
				</p>
				<table id="fields_wrapper">
					<tbody></tbody>
				</table>
				<p>
					<a id="add_field">Add new field</a> or drag and drop to reorder them.
				</p>
				<p>
					<input id="add_button" type="hidden" value="Add this form to project" />
				</p>
			</form>
			
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}
