
{% extends "base.html" %}

{% block title %}
    Add form
{% endblock %}

{% block main-title %}
   
{% endblock %}

{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
		   <h3>Design new form</h3>
			<form id="add_form" action="/store/{{ project }}">
				{% csrf_token %}
				<p>
					<input type="text" id="form_name" placeholder="set form name" style="width:250px"/>
				</p>
				<p>
					<a id="add_field" style="cursor:pointer">Add new field</a>
				</p>
				<table id="fields_wrapper" style="border-bottom:10px; border-collapse:separate">
					<tbody></tbody>
				</table>
				<p>Drag and drop fields to reorder them.</p>
				<p>
					<input id="add_button" type="hidden" value="Add this form to project" />
				</p>
			</form>
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}
