{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Form list - {{ project.title }} - Owndb
{% endblock %}

{% block main-nav %}
<li>
    <a href="{% url 'form-list' project.pk %}">{{ project.title }}</a>
</li>
{% endblock %}

{% block container %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel">
				<div class="panel-body">
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
					<div class="container">
						<h3>Project forms <small>{{ project.title }}</small></h3>
						<form class="form-inline">
							<div class="form-group">
								<label class="sr-only" for="search">Search forms</label>
								<input type="text" class="form-control" id="search-form" placeholder="Search forms">
							</div>
							<button type="submit" class="btn btn-default">Search</button>
						</form>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">List of available forms</h3>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Instances count</th>
							<th>Tasks</th>
						</tr>
					</thead>
					<tbody>
						{% for entry in form_list %}
						<tr>
							<th><img src="{% static "img/web-design.png" %}" class="img-rounded center-block"></th>
							<td><a href="{% url 'forminstance-list' entry.project.pk entry.pk %}">{{ entry.title }}</a></td>
							<td>{{ entry.forminstance_set.count }}</td>
							<td>
								<a href="{% url 'forminstance-add' entry.project.pk entry.pk %}">Add new instance</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<a class="btn btn-default" href="{% url 'form-add' project.pk %}">Design new form</a>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Options &nbsp;<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'form-add' project.pk %}">Design new form</a></li>
					<li><a href="{% url 'project-edit' project.pk %}">Edit project</a></li>
				</ul>
			</div>
			<nav>
				<ul class="pagination">
					{% if is_paginated %}
						{% if page_obj.has_previous %}
							<li><a href="{% url 'form-list' project.pk page_obj.previous_page_number %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
						{% endif %}
						{% if page_obj.has_next %}
							<li><a href="{% url 'form-list' project.pk page_obj.next_page_number %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
						{% endif %}
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}
