
{% extends "base.html" %}

{% load store_extras %}

{% block title %}
    Projects | {{ forminstance.form.project.title }} | {{ forminstance.form.title }} | Instance {{ forminstance.pk }}
{% endblock %}


{% block main-title %}
    
{% endblock %}


{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <ul>
	{% comment %}
    {% for formfield in formfield_list %}
        {% if formfield.label %}
            #<li><b>{{ formfield.get_data|instance:forminstance }}</b></li>
        {% else %}
            #<li>{{ formfield.get_data|instance:forminstance }}</li>
        {% endif %}
    {% endfor %}
	{% endcomment %}
    </ul>
{% endblock %}
