{% extends "base.html" %}

{% block title %}
    Kategorie | {{ form.category.title }} | {{ form.title }}
{% endblock %}



{% block main-title %}
    <a href="{% url 'category-list' %}">Kategorie</a> | <a href ="{% url 'form-list' form.category.pk %}">{{ form.category.title }}</a> | {{ form.title }}
{% endblock %}


{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h3 class="form-signin-heading">Instancje formularza {{ form.title }}</h3>
                    <input name="search" type="text" id="user" class="form-control" placeholder="Wyszukaj formularz" required autofocus/>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Lista dostępnych instancji  </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>

                            <th>Data wypełnienia</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in forminstance_list %}
                            <tr>
                                <td><a href="{% url 'forminstance-detail' entry.form.category.pk entry.form.pk entry.pk %}">{{ entry.date }}</a></td>
                            </tr>
                        {% endfor  %}
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <li class="disabled"><a href="{% url 'forminstance-list' page_obj.previous_page_number %}"
                                                    aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="disabled"><a href="{% url 'forminstance-list' page_obj.next_page_number %}"
                                                    aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    {% endif %}
                    <!-- Page numbers
                    <li class="active"><a href="#"> 1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#"> 2 <span class="sr-only"></span></a></li>
                    <li><a href="#"> 3 <span class="sr-only"></span></a></li>
                    <li><a href="#"> 4 <span class="sr-only"></span></a></li>
                    <li><a href="#"> 5 <span class="sr-only"></span></a></li>
                    -->
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}