{% extends "base.html" %}
{% load staticfiles %}
{% load store_extras %}

{% block title %}
    Edit existing form - {{ form.title }} - {{ project.title }} - Owndb
{% endblock %}

{% block main-nav %}
<li>
	<a href="{% url 'form-list' project.pk %}">{{ project.title }}</a>
</li>
<li>
	<a href="{% url 'forminstance-list' project.pk form.pk %}">{{ form.title }}</a> 
</li>
<li>
	<a href="{{ current_path }}">Edit existing form</a>
</li>
{% endblock %}

{% block container %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel">
				<div class="panel-body">
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
					<div class="container">
						<h3>Edit existing form</h3>
						<div id="loading"></div>
						<form id="edit_form" action="{% url 'form-edit' project.pk form.pk %}">
							{% csrf_token %}
							<input name="after_process" type="hidden" value="{% url 'form-list' project.pk %}" />
							<p>
								<input id="form_name" type="text" value="{{ form.title }}" placeholder=" set form name" autofocus required/>
							</p>
							<table id="fields_wrapper">
								<tbody>
									{% for field in fields %}
									<tr class="field_row">
										<td class="field_cell">
											<div class="field_settings">
												
												<p>Choose type:&nbsp;
													<select class="field_type">
														<option value="{{ field.type.name }}">{{ field.type.name }}</option>
														<option value="LabelText">LabelText</option>
														<option value="LabelImage">LabelImage</option>
														<option value="Text">Text</option>
														<option value="Number">Number</option>
														<option value="Choice">Choice</option>
														<option value="Checkbox">Checkbox</option>
														<option value="Image">Image</option>
														<option value="File">File</option>
														<option value="Connection">Connection</option>
														<option value="NextForm">NextForm</option>
													</select>
												</p>
												
												{% if field.type|stringformat:"s" == "LabelText" or field.type|stringformat:"s" == "LabelImage" or field.type|stringformat:"s" == "NextForm" %}
													<p><input class="field_name" type="hidden" value="-" /></p>
												{% else %}
													<p><input class="field_name" type="text" value="{{ field.caption }}" placeholder=" set field name" required /></p>
												{% endif %}
												
												{% if field.type|stringformat:"s" == "Text" %}
													{% with field.settings|split_all:";" as options %}
														<p>Not null: <input class="notnull" type="checkbox" {% if options.0|stringformat:"s" == "1" %}checked {% endif %}/> | Multiline: <input class="multiline" type="checkbox" {% if options.1|stringformat:"s" == "1" %}checked {% endif %}/></p>
													{% endwith %}
												{% elif field.type|stringformat:"s" == "Number" %}
													{% with field.settings|split_all:";" as options %}
														<p>Not null: <input class="notnull" type="checkbox" {% if options.0|stringformat:"s" == "1" %}checked {% endif %}/> | Natural values: <input class="natural" type="checkbox" {% if options.1|stringformat:"s" == "1" %}checked {% endif %}/></p>
													{% endwith %}
												{% elif field.type|stringformat:"s" == "Choice" %}
													<p><a class="add_choice">Add option</a></p>
													<ul class="options_block">
													{% with field.settings|split_remove_first:";" as options %}
														{% for option in options %}
														<li>
															<span>
																<input type="radio" name="{{ field.pk }}" tabindex="-1" />&nbsp;
																<input class="option_item" type="text" value="{{ option }}" placeholder=" option text" />
																<a class="remove_option">Remove</a>
															</span>
														</li>
														{% endfor %}
													{% endwith %}
													</ul>
												{% elif field.type|stringformat:"s" == "Checkbox" %}
													<p><a class="add_checkbox">Add option</a></p>
													<ul class="options_block">
													{% with field.settings|split_remove_first:";" as options %}
														{% for option in options %}
														<li>
															<span>
																<input type="checkbox" tabindex="-1" />&nbsp;
																<input class="option_item" type="text" value="{{ option }}" placeholder=" option text" />
																<a class="remove_option">Remove</a>
															</span>
														</li>
														{% endfor %}
													{% endwith %}
													</ul>
												{% elif field.type|stringformat:"s" == "LabelText" %}
													<p><input class="label_text" type="text" value="{{ field.settings }}" placeholder=" set text" /></p>
												{% elif field.type|stringformat:"s" == "LabelImage" %}
													<p><input class="label_image" name="file" type="file" accept=".png,.gif,.jpg,.jpeg" /><progress min="0" max="100" value="0"></progress></p>
												{% elif field.type|stringformat:"s" == "Connection" %}
													<p>Select form:&nbsp;<select class="connection_form"><option value="{{ field.settings }}">Without changes</option></select></p>
												{% elif field.type|stringformat:"s" == "Image" %}
													<p><input class="image" disabled type="file" accept=".png,.gif,.jpg,.jpeg" /></p>
												{% elif field.type|stringformat:"s" == "File" %}
													<p><input class="file" disabled type="file" /></p>
												{% elif field.type|stringformat:"s" == "NextForm" %}
													<p>Select form:&nbsp;<select class="connection_form"><option value="{{ field.settings }}">Without changes</option></select></p>
												{% else %}
													<p>Unrecognized field!</p>
												{% endif %}
											</div>
											<p>
												<a class="remove_field">Remove</a> or customize this field.
											</p>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<p>
								<a id="add_field">Add new field</a> or drag and drop to reorder them. <a href="{% url 'form-delete' project.pk form.pk %}">Delete form</a>
							</p>
							<p>
								<input id="submit_button" type="submit" value="Save changes" />
								<input id="cancel_button" name="{% url 'forminstance-list' project.pk form.pk %}" type="button" value="Cancel" />
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
