
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Instances | {{ form.project.title }} | {{ form.title }}
{% endblock %}


{% block main-title %}
	<a class="navbar-brand topnav" href="{% url 'form-list' form.project.pk %}">{{ form.project.title }}</a> <a class="navbar-brand topnav" href="{% url 'form-list' form.project.pk %}{{ form.pk }}" >{{ form.title }}</a>
{% endblock %}


{% load staticfiles %}

{% block extra_css %}
{% endblock %}


{% block container %}

<div class="container" style="margin-top: 40px">
    <div class="row">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><a href="/">Strona główna</a> / <a href="/store">Projekty</a> / <a href="{% url 'form-list' form.project.pk %}">{{ form.project.title }}</a> / <a href="{{ current_path }}">{{ form.title }}</a></h3>
              </div>
              <div class="panel-body">
                    <div class="col-lg-3">
                            
                        <h3>Instancje formularza <small>{{ form.title }}</small></h3>       
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="search">Wyszukaj formularz</label>
                                <input type="text" class="form-control" id="search-form" placeholder="Wyszukaj formularz">
                            </div>
                            <button type="submit" class="btn btn-default">Szukaj</button>
                        </form><br>
                    </div>

                    <div class="panel panel-default" style="margin-top: 12%">
                      <div class="panel-heading">
                        <h3 class="panel-title">Lista dostępnych instancji</h3>
                      </div>
                      <table class="table">
                        <thead>
                            <tr>
                                <th>Completion date</th>
								<th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in forminstance_list %}
                                <tr>
                                    <td><a href="{% url 'forminstance-detail' entry.form.project.pk entry.form.pk entry.pk %}">{{ entry.date }}</a></td>
									<td><a href="#">{{ entry.user.username }}</a></td>
                                </tr>
                            {% endfor  %}
                        </tbody>
                    </table>
                    </div>

              </div>
            </div>
            <nav>
                <ul class="pagination">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <li class="enabled"><a href="{% url 'forminstance-list' form.project.pk form.pk page_obj.previous_page_number %}"
                                                    aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="enabled"><a href="{% url 'forminstance-list' form.project.pk form.pk page_obj.next_page_number %}"
                                                    aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>

{% endblock %}

