
{% extends "base.html" %}

{% block title %}
    Add new instance
{% endblock %}

{% block main-title %}
	<a class="navbar-brand topnav" href="{% url 'form-list' project.pk %}">{{ project.title }}</a> <a class="navbar-brand topnav" >Add instance</a>
{% endblock %}

{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
		
			<h3>Add new instance</h3>
			<div id="loading"></div>
			<form id="add_forminstance" action="{% url 'forminstance-list' project.pk form %}">
				{% csrf_token %}
				<table>
					<tbody>
						{% for field in fields %}
						<tr>
							<td>
								<p>{{ field.caption }}</p>
								{% if field.type|stringformat:"s" == "Text" %}
									<input type="text" />
								{% elif field.type|stringformat:"s" == "Number" %}
									<input type="text" style="width:50px" />
								{% elif field.type|stringformat:"s" == "Choice" %}
									<input type="radio" />
								{% else %}
									<input type="checkbox" />
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<p>
					Complete form and click button below.
				</p>
				<p>
					<input id="add_button" type="submit" value="Add instance" />
				</p>
			</form>
			
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}
