
{% extends "base.html" %}


{% block title %}
    Projects | {{ project.title }}
{% endblock %}


{% block main-title %}
    <a class="navbar-brand topnav" href="{% url 'form-list' project.pk %}">{{ project.title }}</a>
{% endblock %}


{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h3 class="form-signin-heading">Forms of {{ project.title }}</h3>
				</div>
			</div>
			<div class="row" style="margin-bottom:10px;">
                <div class="col-lg-3">
                    <input name="search" type="text" id="user" class="form-control" placeholder="Search form" required autofocus/>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">List of available forms | <a href="/store/{{ project.pk }}/add/">Design new form</a></div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Instances count</th>
							<th>Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in form_list %}
                            <tr>
                                <th><img src="{% static "img/web-design.png" %}" class="img-rounded center-block"></th>
                                <td><a href="{% url 'forminstance-list' entry.project.pk entry.pk %}">{{ entry.title }}</a></td>
                                <td>{{ entry.forminstance_set.count }}</td>
								<td>
									<a href="{% url 'forminstance-list' entry.project.pk entry.pk %}add/">Add new instance</a> | 
									<a href="{% url 'forminstance-list' entry.project.pk entry.pk %}edit/">Edit form</a>
								</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <li class="enabled"><a href="{% url 'form-list' page_obj.previous_page_number %}"
                                                    aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="enabled"><a href="{% url 'form-list' page_obj.next_page_number %}"
                                                    aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}
