
{% extends "base.html" %}

{% block title %}
    Instances | {{ form.project.title }} | {{ form.title }}
{% endblock %}


{% block main-title %}
	<a class="navbar-brand topnav" href="{% url 'form-list' form.project.pk %}">{{ form.project.title }}</a> <a class="navbar-brand topnav" href="{% url 'form-list' form.project.pk %}{{ form.pk }}" >{{ form.title }}</a>
{% endblock %}


{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h3 class="form-signin-heading">Instances of {{ form.title }}</h3>
				</div>
			</div>
			<div class="row" style="margin-bottom:10px;">
                <div class="col-lg-3">
                    <input name="search" type="text" id="user" class="form-control" placeholder="Search instance" required autofocus/>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">List of available instances</div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Completion date</th>
							<th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in forminstance_list %}
                            <tr>
                                <td><a href="{% url 'forminstance-detail' entry.form.project.pk entry.form.pk entry.pk %}">{{ entry.date }}</a></td>
								<td><a href="#">{{ entry.user.username }}</a></td>
                            </tr>
                        {% endfor  %}
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <li class="disabled"><a href="{% url 'forminstance-list' page_obj.previous_page_number %}"
                                                    aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="disabled"><a href="{% url 'forminstance-list' page_obj.next_page_number %}"
                                                    aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}
