{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Delete form - {{ form.title }} - {{ project.title }} - Owndb
{% endblock %}

{% block main-nav %}
<li>
	<a href="{% url 'form-list' project.pk %}">{{ project.title }}</a>
</li>
<li>
	<a href="{% url 'forminstance-list' project.pk form.pk %}">{{ form.title }}</a> 
</li>
<li>
	<a href="{{ current_path }}">Delete form</a>
</li>
{% endblock %}

{% block container %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel">
				<div class="panel-body">
					<div class="container">
						<h3>Delete form</h3>
						<form method="post" action="{% url 'form-delete' project.pk form.pk %}">
							{% csrf_token %}
							<p>Are you sure to delete this form? All data will be completely lost if you continue!
								<p>
									<input type="submit" value="Definitely delete form" />
									<input id="cancel_button" name="{% url 'form-edit' project.pk form.pk %}" type="button" value="Cancel" />
								</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}