{% extends "base.html" %}
{% load staticfiles %}
{% load store_extras %}

{% block title %}
    Form instance detail
{% endblock %}

{% block main-title %}
    <a class="navbar-brand topnav" href="{% url 'form-list' forminstance.form.project.pk %}">{{ forminstance.form.project.title }}</a>
    <a class="navbar-brand topnav" href="{% url 'forminstance-list' forminstance.form.project.pk forminstance.form.pk %}">{{ forminstance.form.title }}</a>
    <a class="navbar-brand topnav">Instance {{ forminstance.pk }}</a>
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
        	<div class="panel panel-primary">
				<div class="panel-heading">
	            	<h3 class="panel-title"><a href="/">Home</a> / <a href="/store/">Projects</a></h3>
	             </div>
	            <div class="panel-body">
		            <div class="col-lg-3">
	                        <h3>Form instance details</h3>
	                </div>
	                <div class="container">
						<div class="col-md-7">
							<div>
									{% for formfield in formfield_list %}
									<li class="list-group-item">
										{{ formfield.get_data|instance:forminstance }}
									</li>
									{% endfor %}
								</ul>
							</div>
						 </div>
                    </div>
                    <nav style="text-align: center">
							<ul class="pagination">
                                {% if forminstance.prev_instance %}
								    <li>
									<a href="{% url 'forminstance-detail' forminstance.form.project.pk forminstance.form.pk forminstance.prev_instance %}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
									</li>
                                {% endif %}
							    	<li><a href="#">Instancja {{ forminstance.pk }}</a></li>
                                {% if forminstance.next_instance %}
							    	<li>
							     	<a href="{% url 'forminstance-detail' forminstance.form.project.pk forminstance.form.pk forminstance.next_instance %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
						      		</a>
						    	    </li>
                                {% endif %}
						  		</ul>
						</nav>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}

