
{% extends "base.html" %}

{% block title %}
    Design new form
{% endblock %}

{% block main-title %}
	<a class="navbar-brand topnav" href="{% url 'form-list' project.pk %}">{{ project.title }}</a> <a class="navbar-brand topnav" >Design new form</a>
{% endblock %}

{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
		
			<h3>Design new form</h3>
			<div id="loading"></div>
			<form id="add_form" action="{% url 'form-add' project.pk %}">
				{% csrf_token %}
				<input name="after_process" type="hidden" value="{% url 'form-list' project.pk %}" />
				<p>
					<input id="form_name" type="text" placeholder=" set form name" autofocus required />
				</p>
				<table id="fields_wrapper">
					<tbody></tbody>
				</table>
				<p>
					<a id="add_field">Add new field</a> or drag and drop to reorder them.
				</p>
				<p>
					<input id="submit_button" type="hidden" value="Add this form to project" />
				</p>
			</form>
			
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}
