{% extends "base.html" %}

{% block title %}
    Edit project - {{ project.title }} - Owndb
{% endblock %}

{% block main-nav %}
<li>
	<a href="{% url 'form-list' project.pk %}">{{ project.title }}</a>
</li>
<li>
    <a href="{{ current_path }}">Edit project</a>
</li>
{% endblock %}

{% block container %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel">
				<div class="panel-body">
					<div class="container">
						<h3>Edit project</h3>
						<div id="loading"></div>
						<form method="post" action="{% url 'project-edit' project.pk %}">
							{% csrf_token %}
								<p>
									<label>Project name:</label><br/><input id="project_name" type="text" placeholder=" set project name" name="project_name" value="{{ project.title }}" autofocus />
								</p>
								<p>
									<a href="{% url 'project-delete' project.pk %}">Delete project</a>
								</p>
								<p>
									<input type="submit" value="Edit this project" />
									<input id="cancel_button" name="{% url 'form-list' project.pk %}" type="button" value="Cancel" />
								</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}