{% extends "base.html" %}

{% block title %}
    Add new project
{% endblock %}

{% block main-title %}
    <a class="navbar-brand topnav" >Add new project</a>
{% endblock %}


{% load staticfiles %}

{% block extra_css %}

{% endblock %}

{% block container %}
<div class="container" style="margin-top: 40px">
	<div class="row">
		<div class="col-lg-12">
        	<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="/">Home</a></h3>
				</div>
				<div class="panel-body">
				
					<h3>Add project</h3>
					<div id="loading"></div>
					<form method="post" action="{% url 'project-add' %}">
						{% csrf_token %}
							<p>
								<input id="project_name" type="text" placeholder=" set project name" autofocus name="project_name" />
							</p>
							<p>
								<input type="submit" value="Add this project" />
							</p>
					</form>
			
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}