{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Add project - Owndb
{% endblock %}

{% block main-nav %}
<li>
    <a href="{{ current_path }}">Add project</a>
</li>
{% endblock %}

{% block container %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel">
				<div class="panel-body">
					<div class="container">
						<h3>Add project</h3>
						<form class="form-inline" method="post" action="{% url 'project-add' %}">
							{% csrf_token %}
							<div class="form-group">
								<label class="sr-only" for="search">Set project name</label>
								<input type="text" name="project_name" class="form-control" id="search-form" placeholder="Set project name" autofocus />
							</div>
							<input class="btn btn-default" type="submit" value="Add project" />
							<input class="btn btn-default" id="cancel_button" name="{% url 'project-list' %}" type="button" value="Cancel" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}