{% extends "base.html" %}

{% block title %}
    Delete project - {{ project.title }} - Owndb
{% endblock %}

{% block main-nav %}
<li>
	<a href="{% url 'form-list' project.pk %}">{{ project.title }}</a>
</li>
<li>
    <a href="{{ current_path }}">Delete project</a>
</li>
{% endblock %}

{% block container %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel">
				<div class="panel-body">
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
					<div class="container">
						<h3>Delete project</h3>
						<form method="post" action="{% url 'project-delete' project.pk %}">
							{% csrf_token %}
							<p>Are you sure to delete this project? All data will be completely lost if you continue!
								<p>
									<input type="submit" value="Definitely delete project" />
									<input id="cancel_button" name="{% url 'project-edit' project.pk %}" type="button" value="Cancel" />
								</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}