
{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Kategorie
{% endblock %}

{% block container %}
    <div class="forms">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
					<h3 class="form-signin-heading">Moje projekty</h3>
				</div>
			</div>
			<div class="row" style="margin-bottom:10px;">
                <div class="col-lg-3">
                    <input name="search" type="text" id="user" class="form-control" placeholder="Wyszukaj projekt" required autofocus/>
                </div>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Lista dostępnych projektów </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nazwa</th>
                            <th>Liczba formularzy</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in project_list %}
                            <tr>
                                <th><img src="{% static "img/web-design.png" %}" class="img-rounded center-block"></th>
                                <td><a href="{% url 'form-list' entry.pk %}">{{ entry.title }}</a></td>
                                <td>{{ entry.form_set.count }}</td>
                            </tr>
                        {% endfor  %}
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <li class="enabled"><a href="{% url 'project-list' page_obj.previous_page_number %}"
                                                    aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="enabled"><a href="{% url 'project-list' page_obj.next_page_number %}"
                                                    aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    {% endif %}
                    <!-- Page numbers
                    <li class="active"><a href="#"> 1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#"> 2 <span class="sr-only"></span></a></li>
                    <li><a href="#"> 3 <span class="sr-only"></span></a></li>
                    <li><a href="#"> 4 <span class="sr-only"></span></a></li>
                    <li><a href="#"> 5 <span class="sr-only"></span></a></li>
                    -->
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.forms -->
{% endblock %}
