{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    My projects - Owndb
{% endblock %}

{% block container %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="panel">
				<div class="panel-body">
					<div class="container">
						<h3>My projects</h3>       
						<form class="form-inline">
							<div class="form-group">
								<label class="sr-only" for="search">Search projects</label>
								<input type="text" class="form-control" id="search-project" placeholder="Search projects">
							</div>
							<button type="submit" class="btn btn-default">Search</button>
						</form>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">List of available projects</h3>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Forms quantity</th>
						</tr>
					</thead>
					<tbody>
						{% for entry in project_list %}
						<tr>
							<th><img src="{% static "img/web-design.png" %}" class="img-rounded center-block"></th>
							<td><a href="{% url 'form-list' entry.pk %}">{{ entry.title }}</a></td>
							<td>{{ entry.form_set.count }}</td>
						</tr>
						{% endfor  %}
					</tbody>
				</table>
			</div>
			<a class="btn btn-default" href="{% url 'project-add' %}">Add project</a>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Options &nbsp;<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'project-add' %}">Add project</a></li>
				</ul>
			</div>
			{% if is_paginated %}
			<nav>
				<ul class="pagination">
					{% if page_obj.has_previous %}
					<li><a href="{% url 'project-list' page_obj.previous_page_number %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					{% else %}
					<li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					{% endif %}
					{% for i in page_obj.paginator.page_range %}
					<li{% if page_obj.number == i %} class="active"{% endif %}><a href="{% url 'project-list' i %}">{{ i }}</a></li>
					{% endfor %}
					{% if page_obj.has_next %}
					<li><a href="{% url 'project-list' page_obj.next_page_number %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					{% else %}
					<li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					{% endif %}
				</ul>
			</nav>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}